body{
    background-color:rgb(247, 247, 247);
    padding: 20px;
}

.main{
    display: flex;
    gap: 20px;

}

.big{
    width: 900px;
    height: 400px;
    background-color: rgb(204, 204, 204);
    border-radius: 10px;
    border: solid grey 2px;
}


.small-boxes{
    display: flex;
    gap: 10px;
}

.box{
    background-color: rgb(255, 209, 167);
    width: 90px;
    height: 90px;
    margin-top: 20px;
    border-radius: 20px;
    border: orange solid 2px;
}

.cart{
    width: 300px;
    height: 70px;
    background-color: rgb(77, 219, 77);
    text-align: center;
    border-radius: 20px;
    border: green solid 2px;
    margin-top: 20px;
    
}

.redd{
    display: flex;
    gap: 20px;
    margin-top: 20px ;
}

.red{
    width: 350px;
    height: 120px;
    background-color: rgb(255, 161, 161);
    border-radius: 20px;
    border: rgb(255, 0, 0) solid 2px;
}